.fa-upload{
    margin-right: 5px;
}

.thead{
    background: #292F33;
    color: white;
}
.fa-id-card{
    margin-right: 5px;
    color: #7f9f28;
    font-size: 25px;
}
.fa-table{
    margin-right: 5px;
    color: #7f9f28;
}
.btn1{
    width: 150px;
}