<div class="container">
    <div class="card">
      <div class="card1 card-header ">
        <h5><i class="far fa-id-card"></i> Create Complaint</h5>
      </div>
      <form novalidate [formGroup]="complaintForm" (ngSubmit)="onSubmit()">
      <div class="card-body">
        <div class="col-sm-12">
          <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
              <label>Complaint ID:</label>
                      <input type="text" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-4">
              <label>Year:</label>
                      <input type="text" class="form-control" placeholder="yyyy" formControlName="Year" >
                  </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
              <label>Report Reference:</label>
                      <input type="text" class="form-control" formControlName="ReportReference">
                  </div>
                  <div class="form-group col-md-4">
              <label>Domain:</label>
                      <input type="text" class="form-control" formControlName="Domain">
                  </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
              <label>Employee:</label>
                <select class="form-control" formControlName="CompanyEmp">
                    <option value="1">DJ</option>
                    <option value="2">Alexis</option>
                    <option value="3">Jerome</option>
                </select>
            </div>
              <div class="form-group col-md-4">
                <label>Complaint Type:</label>
                  <select class="form-control" formControlName="ComplaintType">
                      <option value="1">Low Priority</option>
                      <option value="2">Medium Priority</option>
                      <option value="3">High Priority</option>
                  </select>
              </div>
          </div>
          <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-4">
              <label>Complaint Status:</label>
                  <select class="form-control" formControlName="ComplaintStatus">
                      <option value="1">To Do</option>
                      <option value="2">On Progress</option>
                      <option value="3">Done</option>
                  </select>
            </div>
            
          </div>
          <div class="row">
              <div class="form-group col-md-2"></div>
              <div class="form-group col-md-8">
                <label>Email Reference:</label>
                <textarea class="form-control" formControlName="EmailReference"></textarea>
              </div>
            </div>
          <div class="row">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-8">
              <label>Comment:</label>
              <textarea class="form-control" formControlName="Comment"></textarea>
            </div>
          </div>

          <!--Complaint Document-->
          <div class="row">
              <div class="form-group col-sm-2"></div>
              <div class="col-sm-8">
                  <div class="card">
                      <div>
                        <div class="card-header">
                          <h5><i class="fas fa-table"></i> Complaint Document</h5>
                        </div>
                        <div class="card-body table-responsive">
                          <div class="row">
                             <div class="col-sm-3">
                                 <a  href="" target="_blank"  type="button" class="btn btn-outline-success form-control btn-md"><i class="fas fa-upload"></i> Upload</a>   
                              </div>
                          </div><br>
                        <table class="table table-hover">
                          <thead class="thead">
                            <tr>
                              <th>ID</th>
                              <th>File Name</th>
                              <th>File Type</th>
                            </tr>
                          </thead>
                          <tbody id="entry_table">
                            <tr>
                              <td>sample</td>
                              <td>sample</td>
                              <td>sample</td>
                            </tr> 
                          </tbody>
                        </table>
                        </div>
                      </div>
                    </div> <!--Complaint Document-->
              </div>
          </div><br>

          <!--Buttons-->
          <div class="row">
              <div class="form-group col-sm-8"></div>
              <div class="col-md-4">
                  <button class="btn btn-outline-success btn-md btn1" type="submit"><i class="fas fa-plus-square"></i> Submit</button>
                  <!--<button type="button" class="btn btn-outline-secondary btn-md" (click)="mainBack()"><i class="fas fa-angle-left"></i> Back</button>-->
              </div>
          </div>

        </div>
      </div>
      
      <div class="card-footer">
      </div>
      </form>
    </div>
  </div>
  